@if (loading) {
  <p>Loading...</p>
}

@if (error) {
  <p style="color:red">{{ error }}</p>
}

<h2>Danh sách truyện</h2>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Tên</th>
    <th>Tác giả</th>
    <th>Views</th>
  </tr>

  <tr *ngFor="let story of stories">
    <td>{{ story.id }}</td>
    <td>{{ story.title }}</td>
    <td>{{ story.author }}</td>
    <td> {{ story.views }}

  @if (story.views > 90000) {
    <span style="color:red; font-weight:bold;">
      HOT
    </span>
  }</td>
  </tr>
</table>